Repository soltana-tech/soltana-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint, tsc

.pre-commit-config.yaml:

repos:
  # 1. Core pre-commit utilities - basic checks and file formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # Security checks
      - id: detect-private-key

      # File format validation
      - id: check-json
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-added-large-files
        args: ['--maxkb=102400'] # 100MB = 102400 KB

      # File formatting
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending

  # 2. Code formatting
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npx prettier --write
        language: system
        types_or: [javascript, jsx, ts, tsx, scss, css, json, html]

  # 3. Code linting and type checking
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint
        language: system
        files: \.[jt]sx?$
        types: [file]
      - id: stylelint
        name: Stylelint
        entry: npx stylelint
        language: system
        files: \.(scss|css)$
      - id: tsc
        name: TypeScript Compiler
        entry: npx tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

Replace type labels with GitHub Issue Types
  .claude/rules/project.md
Due: none

Add build-time class generation (#60)
  eslint.config.js
  package.json
  soltana.config.template.js
  src/config/index.test.ts
  src/config/index.ts
  src/config/recipes.test.ts
  src/config/types.ts
  src/enhancers/modal.test.ts
  src/enhancers/tabs.test.ts
  src/enhancers/tooltip.test.ts
  src/fonts/index.test.ts
  src/index.ts
  src/ornaments/patterns.test.ts
  src/plugins/__tests__/treeshake.test.ts
  src/plugins/index.ts
  src/plugins/postcss-soltana-treeshake.ts
  src/plugins/types.ts
  src/styles/base/_index.scss
  src/styles/base/_register.scss
  tsconfig.plugins.json
Due: prettier, eslint, stylelint, tsc

Add neutral palette option (#35)
  docs/docs.scss
  docs/pages/examples.ts
  docs/pages/getting-started.ts
  src/styles/base/_accessibility.scss
  src/styles/components/_badges.scss
  src/styles/components/_feedback.scss
  src/styles/components/_inputs.scss
  src/styles/components/_navigation.scss
  src/styles/components/_overlays.scss
  src/styles/decorative/_classical.scss
  src/styles/decorative/_ornamental.scss
  src/styles/themes/_dark.scss
  src/styles/themes/_light.scss
  src/styles/themes/_sepia.scss
Due: prettier, eslint, stylelint, tsc

Add missing utility classes (#40)
  src/styles/utilities/_layout.scss
  src/styles/utilities/_sizing.scss
  src/styles/utilities/_visual.scss
Due: prettier, stylelint

Removes stale reference in project.md
  .claude/rules/project.md
Due: none

Add responsive utilities and fluid typography
  src/styles/_variables.scss
  src/styles/utilities/_index.scss
  src/styles/utilities/_layout.scss
  src/styles/utilities/_responsive.scss
  src/styles/utilities/_sizing.scss
  src/styles/utilities/_spacing.scss
Due: prettier, stylelint

Replace eval commands with audit skill
  .claude/audit/scopes.md
  .claude/commands/eval-docs.md
  .claude/commands/eval-params.md
  .claude/commands/eval-tests.md
Due: none

Add Playwright e2e test suite (#37)
  .gitignore
  eslint.config.js
  package-lock.json
  package.json
  playwright.config.ts
  src/plugins/treeshake.test.ts
  tests/accessibility.spec.ts
  tests/fixtures/combinations.ts
  tests/fixtures/render.ts
  tests/global-setup.ts
  tests/visual-regression.spec.ts
  tsconfig.plugins.json
Due: prettier, eslint, tsc

Fix test quality findings from audit (#65)
  src/config/index.test.ts
  src/enhancers/tooltip.test.ts
  tests/element-overrides.spec.ts
  tests/element-overrides.spec.ts-snapshots/override-finish-chromium-darwin.png
  tests/element-overrides.spec.ts-snapshots/override-finish-firefox-darwin.png
  tests/element-overrides.spec.ts-snapshots/override-finish-webkit-darwin.png
  tests/element-overrides.spec.ts-snapshots/override-multi-chromium-darwin.png
  tests/element-overrides.spec.ts-snapshots/override-multi-firefox-darwin.png
  tests/element-overrides.spec.ts-snapshots/override-multi-webkit-darwin.png
  tests/element-overrides.spec.ts-snapshots/override-ornament-chromium-darwin.png
  tests/element-overrides.spec.ts-snapshots/override-ornament-firefox-darwin.png
  tests/element-overrides.spec.ts-snapshots/override-ornament-webkit-darwin.png
  tests/element-overrides.spec.ts-snapshots/override-relief-chromium-darwin.png
  tests/element-overrides.spec.ts-snapshots/override-relief-firefox-darwin.png
  tests/element-overrides.spec.ts-snapshots/override-relief-webkit-darwin.png
  tests/element-overrides.spec.ts-snapshots/override-theme-chromium-darwin.png
  tests/element-overrides.spec.ts-snapshots/override-theme-firefox-darwin.png
  tests/element-overrides.spec.ts-snapshots/override-theme-webkit-darwin.png
Due: prettier, eslint, tsc

Resolve config audit findings
  src/config/index.test.ts
  src/config/index.ts
  src/config/recipes.test.ts
  src/config/recipes.ts
  src/config/types.ts
  src/index.ts
  src/ornaments/patterns.test.ts
  src/ornaments/patterns.ts
  src/plugins/postcss-soltana-treeshake.ts
  src/plugins/treeshake.test.ts
Due: prettier, eslint, tsc

Ignore issue drafts from audit skill
  .gitignore
Due: none

DRY up project rules
  .claude/rules/project.md
Due: none

Fix structure audit findings
  src/plugins/postcss-soltana-treeshake.test.ts
  src/styles/index.scss
Due: prettier, eslint, stylelint, tsc

DRY button/ornament styles and tokenize colors
  src/plugins/postcss-soltana-treeshake.test.ts
  src/styles/components/_badges.scss
  src/styles/components/_buttons.scss
  src/styles/components/_cards.scss
  src/styles/components/_feedback.scss
  src/styles/components/_inputs.scss
  src/styles/decorative/_ornamental.scss
Due: prettier, eslint, stylelint, tsc

Tokenize SVG icon colors per theme
  src/styles/_variables.scss
  src/styles/components/_inputs.scss
  src/styles/themes/_dark.scss
  src/styles/themes/_light.scss
  src/styles/themes/_sepia.scss
Due: prettier, stylelint

Resolve styles audit findings (#67)
  src/styles/_variables.scss
  src/styles/base/_register.scss
  src/styles/base/_relief-system.scss
  src/styles/components/_badges.scss
  src/styles/components/_buttons.scss
  src/styles/components/_cards.scss
  src/styles/components/_inputs.scss
  src/styles/components/_overlays.scss
  src/styles/components/_toggle.scss
  src/styles/decorative/_ornamental.scss
Due: prettier, stylelint

Resolve styles audit findings (#69)
  docs/components/PlaygroundControls.ts
  docs/pages/components.ts
  docs/pages/examples.ts
  src/styles/base/_accessibility.scss
  src/styles/base/_relief-system.scss
  src/styles/components/_badges.scss
  src/styles/components/_inputs.scss
Due: prettier, eslint, stylelint, tsc

Resolve styles audit findings (#70)
  src/styles/_variables.scss
  src/styles/components/_buttons.scss
  src/styles/components/_overlays.scss
  src/styles/decorative/_ornamental.scss
  src/styles/themes/_dark.scss
  src/styles/themes/_light.scss
  src/styles/themes/_sepia.scss
  src/styles/utilities/_generate.scss
  src/styles/utilities/_layout.scss
  src/styles/utilities/_responsive.scss
  src/styles/utilities/_spacing.scss
Due: prettier, stylelint

Resolve styles audit findings (#71)
  src/styles/base/_accessibility.scss
  src/styles/decorative/_classical.scss
  src/styles/utilities/_sizing.scss
Due: prettier, stylelint

Resolve styles audit findings
  src/styles/base/_accessibility.scss
  src/styles/base/_register.scss
  src/styles/base/_relief-system.scss
  src/styles/base/_typography.scss
  src/styles/components/_badges.scss
  src/styles/components/_buttons.scss
  src/styles/components/_cards.scss
  src/styles/components/_inputs.scss
  src/styles/components/_overlays.scss
  src/styles/components/_toggle.scss
  src/styles/decorative/_ornamental.scss
Due: prettier, stylelint

Resolve styles audit findings
  src/styles/base/_index.scss
  src/styles/base/_relief-system.scss
  src/styles/base/_transitions.scss
  src/styles/components/_badges.scss
  src/styles/components/_buttons.scss
  src/styles/components/_cards.scss
  src/styles/components/_feedback.scss
  src/styles/components/_inputs.scss
  src/styles/components/_navigation.scss
  src/styles/components/_overlays.scss
  src/styles/components/_toggle.scss
  src/styles/decorative/_classical.scss
  src/styles/decorative/_ornamental.scss
  src/styles/themes/_dark.scss
  src/styles/themes/_light.scss
  src/styles/themes/_sepia.scss
Due: prettier, stylelint

Strengthen issue reference rule
  .claude/rules/commits.md
Due: none

Resolve styles audit findings
  src/styles/_variables.scss
  src/styles/base/_relief-system.scss
  src/styles/components/_buttons.scss
  src/styles/components/_inputs.scss
  src/styles/components/_overlays.scss
  src/styles/utilities/_generate.scss
  src/styles/utilities/_layout.scss
  src/styles/utilities/_responsive.scss
  src/styles/utilities/_sizing.scss
  src/styles/utilities/_visual.scss
Due: prettier, stylelint

Consolidate ornament consume selectors
  src/styles/base/_register.scss
  src/styles/components/_buttons.scss
  src/styles/components/_inputs.scss
  src/styles/components/_overlays.scss
Due: prettier, stylelint

Decouple ornament tokens from relief tier
  src/styles/components/_buttons.scss
  src/styles/components/_overlays.scss
  src/styles/themes/_dark.scss
  src/styles/themes/_light.scss
  src/styles/themes/_sepia.scss
Due: prettier, stylelint

Resolve styles audit findings
  docs/pages/components.ts
  docs/pages/examples.ts
  src/styles/base/_relief-system.scss
  src/styles/base/_typography.scss
  src/styles/decorative/_ornamental.scss
  src/styles/themes/_dark.scss
  src/styles/themes/_light.scss
  src/styles/themes/_sepia.scss
  src/styles/utilities/_generate.scss
  src/styles/utilities/_layout.scss
  src/styles/utilities/_visual.scss
Due: prettier, eslint, stylelint, tsc

Decouple non-ornament styles from tier tokens
  src/styles/components/_badges.scss
  src/styles/components/_inputs.scss
  src/styles/components/_navigation.scss
Due: prettier, stylelint

Resolve tests audit findings
  src/config/index.test.ts
  src/config/recipes.test.ts
  src/enhancers/__mocks__/index.ts
  src/ornaments/patterns.test.ts
Due: prettier, eslint, tsc

Resolve styles audit findings
  src/styles/_variables.scss
  src/styles/base/_accessibility.scss
  src/styles/base/_register.scss
  src/styles/base/_relief-system.scss
  src/styles/components/_buttons.scss
  src/styles/components/_inputs.scss
  src/styles/components/_toggle.scss
  src/styles/decorative/_classical.scss
  src/styles/decorative/_ornamental.scss
  src/styles/themes/_dark.scss
  src/styles/themes/_light.scss
  src/styles/themes/_sepia.scss
Due: prettier, stylelint

Add runtime registration API for custom tiers
  src/config/index.test.ts
  src/config/index.ts
  src/config/register.test.ts
  src/config/register.ts
  src/config/stylesheet.test.ts
  src/config/stylesheet.ts
  src/config/types.ts
  src/index.ts
Due: prettier, eslint, tsc

Resolve logic audit findings (#85)
  docs/components/SettingsPanel.ts
  package.json
  soltana.config.template.js
  src/config/index.test.ts
  src/config/index.ts
  src/config/register.ts
  src/config/validation.ts
  src/index.ts
  src/plugins/index.ts
  src/plugins/types.ts
Due: prettier, eslint, tsc

Resolve styles audit findings
  src/config/register.sync.test.ts
  src/config/register.test.ts
  src/config/register.ts
  src/config/types.ts
  src/enhancers/modal.test.ts
  src/enhancers/modal.ts
  src/styles/_variables.scss
  src/styles/base/_register.scss
  src/styles/components/_buttons.scss
  src/styles/components/_cards.scss
  src/styles/components/_feedback.scss
  src/styles/components/_inputs.scss
  src/styles/components/_overlays.scss
  src/styles/themes/_dark.scss
  src/styles/themes/_light.scss
  src/styles/themes/_sepia.scss
Due: prettier, eslint, stylelint, tsc

Resolve logic audit findings
  src/config/index.test.ts
  src/config/index.ts
  src/config/recipes.test.ts
  src/config/recipes.ts
  src/config/register.ts
  src/config/types.ts
  src/index.ts
  src/ornaments/patterns.ts
Due: prettier, eslint, tsc

Resolve config audit findings
  src/config/index.test.ts
  src/config/index.ts
  src/config/recipes.test.ts
  src/config/types.ts
  src/index.ts
Due: prettier, eslint, tsc

Resolve logic audit findings
  src/config/index.ts
  src/config/register.ts
  src/config/types.ts
  src/config/validation.ts
  src/enhancers/modal.ts
  src/enhancers/tabs.ts
  src/enhancers/tooltip.ts
  src/plugins/postcss-soltana-treeshake.ts
Due: prettier, eslint, tsc

Add full-matrix a11y scorecard
  .github/workflows/a11y-matrix.yml
  .gitignore
  package.json
  playwright.a11y-matrix.config.ts
  playwright.config.ts
  src/config/index.test.ts
  src/config/recipes.test.ts
  src/config/register.sync.test.ts
  src/config/register.test.ts
  src/config/stylesheet.test.ts
  src/config/validation.ts
  src/enhancers/__mocks__/index.ts
  src/enhancers/index.test.ts
  src/enhancers/modal.test.ts
  src/enhancers/tabs.test.ts
  src/enhancers/tooltip.test.ts
  src/fonts/index.test.ts
  tests/a11y-matrix/a11y-matrix.spec.ts
  tests/a11y-matrix/generate-report.ts
  tests/accessibility.spec.ts
  tests/config/config-api.spec.ts
  tests/config/config-events.spec.ts
  tests/config/config-overrides.spec.ts
  tests/config/config-recipes.spec.ts
  tests/config/config-registration.spec.ts
  tests/config/config-stylesheet.spec.ts
  tests/cross-tier/cross-tier.spec.ts
  tests/enhancers/enhancers-integration.spec.ts
  tests/enhancers/modal.spec.ts
  tests/enhancers/tabs.spec.ts
  tests/enhancers/tooltip.spec.ts
  tests/fixtures/combinations.ts
  tests/fixtures/enhancer-fixtures.ts
  tests/fixtures/helpers.ts
  tests/fixtures/render.ts
  tests/fixtures/soltana-page.ts
  tests/fonts/fonts.spec.ts
Due: prettier, eslint, tsc

Resolve config audit findings
  docs/pages/getting-started.ts
  src/config/index.ts
  src/config/register.ts
  src/config/types.ts
  src/config/validation.ts
  src/index.ts
  tests/config/config-api.spec.ts
  tests/config/config-registration.spec.ts
  tests/cross-tier/cross-tier.spec.ts
  tests/fixtures/helpers.ts
  tests/fonts/fonts.spec.ts
Due: prettier, eslint, tsc

Resolve focus audit findings
  .claude/rules/project.md
  src/config/types.ts
  src/enhancers/index.ts
  src/enhancers/modal.ts
  src/enhancers/tabs.ts
  src/enhancers/tooltip.ts
  src/fonts/index.ts
  src/index.ts
  src/ornaments/patterns.ts
  src/styles/components/_feedback.scss
  src/styles/components/_overlays.scss
  src/styles/utilities/_index.scss
  tests/enhancers/modal.spec.ts
  tests/fonts/fonts.spec.ts
Due: prettier, eslint, stylelint, tsc
