Repository soltana-tech/soltana-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint, tsc

prettier:
  name: Prettier
  entry: npx prettier --write
  language: system

eslint:
  name: ESLint
  entry: npx eslint
  language: system

stylelint:
  name: Stylelint
  entry: npx stylelint
  language: system

tsc:
  name: TypeScript Compiler
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false

Expands and integrates the three-layer system
  docs/pages/materials.ts
  package-lock.json
  package.json
  src/components/base/SoltanaElement.ts
  src/components/sol-button.ts
  src/components/sol-card.ts
  src/components/sol-input.ts
  src/components/sol-material-panel.ts
  src/components/sol-panel.ts
  src/styles/_accessibility.scss
  src/styles/_components.scss
  src/styles/_glassmorphic.scss
  src/styles/_material-system.scss
  src/styles/_metallic.scss
  src/styles/_neumorphic.scss
  src/styles/_ornamental.scss
  src/styles/_utilities.scss
  src/styles/_variables.scss
  src/styles/themes/_dark.scss
  src/styles/themes/_light.scss
  src/styles/themes/_sepia.scss
Due: prettier, eslint, stylelint, tsc

Fix TS bugs and add enhancer lifecycle
  src/config/index.test.ts
  src/config/index.ts
  src/config/types.ts
  src/enhancers/index.ts
  src/enhancers/modal.test.ts
  src/enhancers/modal.ts
  src/enhancers/tabs.test.ts
  src/enhancers/tabs.ts
  src/enhancers/tooltip.test.ts
  src/enhancers/tooltip.ts
  src/fonts/index.test.ts
  src/index.ts
Due: prettier, eslint, tsc

Add roadmap and /audit skill
  .claude/skills/audit/SKILL.md
  ROADMAP.md
Due: none

Removes reference to old file name
  .claude/skills/audit/SKILL.md
Due: none

Separate material and surface tiers
  ROADMAP.md
  src/styles/base/_material-system.scss
  src/styles/components/_badges.scss
  src/styles/components/_buttons.scss
  src/styles/components/_cards.scss
  src/styles/components/_inputs.scss
  src/styles/components/_overlays.scss
  src/styles/materials/_glassmorphic.scss
Due: prettier, stylelint

Unify material system to 6 options
  docs/components/SettingsPanel.ts
  docs/main.ts
  docs/pages/components.ts
  docs/pages/design-system.ts
  docs/pages/examples.ts
  docs/pages/getting-started.ts
  src/config/index.test.ts
  src/config/index.ts
  src/config/types.ts
  src/styles/base/_accessibility.scss
  src/styles/base/_material-system.scss
  src/styles/components/_cards.scss
  src/styles/materials/_index.scss
  src/styles/materials/_neuro-glass.scss
  src/styles/themes/_dark.scss
  src/styles/themes/_light.scss
  src/styles/themes/_sepia.scss
Due: prettier, eslint, stylelint, tsc

Rename neuro to neu across codebase
  ROADMAP.md
  docs/components/PlaygroundControls.ts
  docs/components/SettingsPanel.ts
  docs/index.html
  docs/main.ts
  docs/pages/components.ts
  docs/pages/design-system.ts
  docs/pages/examples.ts
  docs/pages/getting-started.ts
  src/config/index.test.ts
  src/config/index.ts
  src/config/types.ts
  src/styles/base/_material-system.scss
  src/styles/components/_buttons.scss
  src/styles/components/_cards.scss
  src/styles/components/_overlays.scss
  src/styles/decorative/_ornamental.scss
  src/styles/materials/_neumorphic.scss
  src/styles/themes/_dark.scss
  src/styles/themes/_light.scss
  src/styles/themes/_sepia.scss
Due: prettier, eslint, stylelint, tsc

Add eval commands for docs, tests, and params
  .claude/commands/eval-docs.md
  .claude/commands/eval-params.md
  .claude/commands/eval-tests.md
Due: none

Make font loading opt-in
  docs/pages/getting-started.ts
  src/config/index.test.ts
  src/config/index.ts
  src/fonts/index.test.ts
  src/fonts/index.ts
Due: prettier, eslint, tsc

Strengthen test suite
  ROADMAP.md
  src/config/index.test.ts
  src/enhancers/index.test.ts
  src/enhancers/modal.test.ts
  src/enhancers/tabs.test.ts
  src/enhancers/tooltip.test.ts
  src/ornaments/patterns.test.ts
Due: prettier, eslint, tsc

Fix z-index scale with tokens
  src/enhancers/tooltip.ts
  src/styles/_variables.scss
  src/styles/base/_accessibility.scss
  src/styles/components/_feedback.scss
  src/styles/components/_overlays.scss
Due: prettier, eslint, stylelint, tsc

Add easing tokens, fix gaps
  src/styles/_variables.scss
  src/styles/base/_accessibility.scss
  src/styles/base/_material-system.scss
  src/styles/base/_typography.scss
  src/styles/components/_badges.scss
  src/styles/components/_buttons.scss
  src/styles/components/_cards.scss
  src/styles/components/_feedback.scss
  src/styles/components/_inputs.scss
  src/styles/components/_navigation.scss
  src/styles/components/_overlays.scss
  src/styles/materials/_glassmorphic.scss
  src/styles/materials/_neumorphic.scss
  src/styles/themes/_light.scss
  src/styles/themes/_sepia.scss
  src/styles/utilities/_visual.scss
Due: prettier, stylelint

Remove duplicate material classes
  ROADMAP.md
  docs/pages/components.ts
  docs/pages/examples.ts
  src/styles/base/_material-system.scss
  src/styles/components/_cards.scss
  src/styles/materials/_glassmorphic.scss
  src/styles/materials/_neumorphic.scss
Due: prettier, eslint, stylelint, tsc

Replace hardcoded colors with tokens
  ROADMAP.md
  src/styles/components/_badges.scss
  src/styles/components/_buttons.scss
  src/styles/components/_cards.scss
  src/styles/components/_feedback.scss
  src/styles/components/_inputs.scss
  src/styles/components/_navigation.scss
  src/styles/components/_overlays.scss
Due: prettier, stylelint

Add SVG utilities, replace emojis
  ROADMAP.md
  docs/components/SettingsPanel.ts
  src/index.ts
  src/ornaments/patterns.test.ts
  src/ornaments/patterns.ts
Due: prettier, eslint, tsc

Unify API to single entry point
  ROADMAP.md
  package.json
  src/config/index.test.ts
  src/config/index.ts
  src/config/types.ts
  src/index.ts
Due: prettier, eslint, tsc

Reframes coupling issues between tiers
  ROADMAP.md
Due: none

Decouple themes from materials
  ROADMAP.md
  src/styles/base/_material-system.scss
  src/styles/decorative/_ornamental.scss
  src/styles/themes/_dark.scss
  src/styles/themes/_light.scss
  src/styles/themes/_sepia.scss
Due: prettier, stylelint

Per-element ornament system
  ROADMAP.md
  docs/pages/design-system.ts
  src/config/index.test.ts
  src/config/index.ts
  src/styles/base/_material-system.scss
Due: prettier, eslint, stylelint, tsc

Add .theme-* per-element overrides
  ROADMAP.md
  docs/pages/design-system.ts
  src/styles/base/_material-system.scss
  src/styles/themes/_dark.scss
  src/styles/themes/_light.scss
  src/styles/themes/_sepia.scss
Due: prettier, eslint, stylelint, tsc

Adds Roadmap items for significant overahul of tiered system
  ROADMAP.md
Due: none

Rename material->relief, surface->finish
  ROADMAP.md
  docs/components/SettingsPanel.ts
  docs/index.html
  docs/main.ts
  docs/pages/components.ts
  docs/pages/design-system.ts
  docs/pages/examples.ts
  docs/pages/getting-started.ts
  package.json
  src/config/index.test.ts
  src/config/index.ts
  src/config/types.ts
  src/index.ts
  src/styles/base/_index.scss
  src/styles/base/_relief-system.scss
  src/styles/components/_badges.scss
  src/styles/components/_buttons.scss
  src/styles/components/_cards.scss
  src/styles/components/_feedback.scss
  src/styles/components/_inputs.scss
  src/styles/components/_navigation.scss
  src/styles/components/_overlays.scss
  src/styles/index.scss
  src/styles/reliefs/_glassmorphic.scss
  src/styles/reliefs/_index.scss
  src/styles/reliefs/_metallic.scss
  src/styles/reliefs/_neumorphic.scss
  src/styles/reliefs/_stone.scss
Due: prettier, eslint, stylelint, tsc

Restructure tier options
  .claude/commands/eval-docs.md
  ROADMAP.md
  docs/components/SettingsPanel.ts
  docs/main.ts
  docs/pages/components.ts
  docs/pages/design-system.ts
  docs/pages/examples.ts
  docs/pages/getting-started.ts
  src/config/index.test.ts
  src/config/index.ts
  src/config/types.ts
  src/styles/base/_accessibility.scss
  src/styles/base/_relief-system.scss
  src/styles/components/_cards.scss
  src/styles/components/_navigation.scss
  src/styles/decorative/_ornamental.scss
  src/styles/index.scss
  src/styles/reliefs/_glassmorphic.scss
  src/styles/reliefs/_index.scss
  src/styles/reliefs/_metallic.scss
  src/styles/reliefs/_stone.scss
  src/styles/themes/_dark.scss
  src/styles/themes/_light.scss
  src/styles/themes/_sepia.scss
Due: prettier, eslint, stylelint, tsc

Add recipe preset system
  ROADMAP.md
  docs/components/SettingsPanel.ts
  docs/pages/design-system.ts
  src/config/index.ts
  src/config/recipes.test.ts
  src/config/recipes.ts
  src/config/types.ts
  src/index.ts
Due: prettier, eslint, tsc

Fix accessibility gaps
  src/styles/base/_accessibility.scss
  src/styles/components/_buttons.scss
  src/styles/components/_inputs.scss
  src/styles/themes/_dark.scss
  src/styles/themes/_light.scss
  src/styles/themes/_sepia.scss
Due: prettier, stylelint

Update roadmap from codebase audit
  ROADMAP.md
Due: none

Migrate issue tracking to GitHub Issues
  .claude/rules/commits.md
  .claude/rules/project.md
  .claude/skills/audit/SKILL.md
  ROADMAP.md
Due: none

Fix stale refs from tier restructure (#34)
  src/styles/decorative/_classical.scss
  src/styles/decorative/_ornamental.scss
  src/styles/themes/_dark.scss
  src/styles/themes/_light.scss
  src/styles/themes/_sepia.scss
Due: prettier, stylelint

Tokenize hardcoded gold RGB values
  src/styles/base/_accessibility.scss
  src/styles/base/_relief-system.scss
  src/styles/components/_buttons.scss
  src/styles/components/_cards.scss
  src/styles/components/_overlays.scss
  src/styles/decorative/_ornamental.scss
  src/styles/reliefs/_neumorphic.scss
  src/styles/themes/_dark.scss
  src/styles/themes/_light.scss
  src/styles/themes/_sepia.scss
Due: prettier, stylelint

Remove tier-external styling classes
  docs/components/PlaygroundControls.ts
  docs/index.html
  docs/pages/components.ts
  docs/pages/design-system.ts
  docs/pages/examples.ts
  src/styles/_variables.scss
  src/styles/base/_accessibility.scss
  src/styles/base/_relief-system.scss
  src/styles/base/_typography.scss
  src/styles/components/_badges.scss
  src/styles/components/_buttons.scss
  src/styles/components/_cards.scss
  src/styles/components/_feedback.scss
  src/styles/components/_index.scss
  src/styles/components/_navigation.scss
  src/styles/components/_toggle.scss
  src/styles/decorative/_classical.scss
  src/styles/decorative/_ornamental.scss
  src/styles/index.scss
  src/styles/reliefs/_index.scss
  src/styles/reliefs/_neumorphic.scss
  src/styles/utilities/_visual.scss
Due: prettier, eslint, stylelint, tsc

Promote toggle to tier-aware component
  src/styles/components/_toggle.scss
Due: prettier, stylelint

Fix stale doc refs, derive panel options
  docs/components/SettingsPanel.ts
  docs/index.html
  docs/pages/getting-started.ts
  src/config/index.ts
Due: prettier, eslint, tsc

Consolidate ornamental classes into tier
  .stylelintrc.json
  src/ornaments/patterns.test.ts
  src/ornaments/patterns.ts
  src/styles/components/_buttons.scss
  src/styles/decorative/_ornamental.scss
Due: prettier, eslint, stylelint, tsc

Dedupe ornament selectors via @extend (#32)
  docs/docs.scss
  docs/pages/design-system.ts
  docs/pages/examples.ts
  docs/pages/getting-started.ts
  src/styles/components/_buttons.scss
  src/styles/decorative/_ornamental.scss
Due: prettier, eslint, stylelint, tsc

Add extensibility for custom tiers (#33)
  docs/pages/getting-started.ts
  src/config/index.test.ts
  src/config/index.ts
  src/config/recipes.test.ts
  src/config/recipes.ts
  src/config/types.ts
  src/index.ts
Due: prettier, eslint, tsc

Tokenize ornament tier architecture (#61)
  docs/pages/getting-started.ts
  src/styles/base/_relief-system.scss
  src/styles/decorative/_ornamental.scss
Due: prettier, eslint, stylelint, tsc

Tokenize button ornament tier (#62)
  src/styles/components/_buttons.scss
Due: prettier, stylelint

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.scss$, \.css$, \.json$, \.(html|htm|xhtml)$
  eslint: any of: \.[jt]sx?$
  stylelint: any of: \.(scss|css)$
  tsc: any of: \.(ts|tsx)$
