Repository soltana-tech/soltana-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint, tsc

prettier:
  name: Prettier
  entry: npx prettier --write
  language: system

eslint:
  name: ESLint
  entry: npx eslint
  language: system

stylelint:
  name: Stylelint
  entry: npx stylelint
  language: system

tsc:
  name: TypeScript Compiler
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false

Updates scopes, corrects structure -> architecture
  .claude/audit/scopes.md
Due: none

Resolve styles audit findings
  src/styles/_variables.scss
  src/styles/base/_accessibility.scss
  src/styles/components/_buttons.scss
  src/styles/components/_feedback.scss
  src/styles/components/_inputs.scss
  src/styles/decorative/_classical.scss
  src/styles/decorative/_ornamental.scss
  src/styles/utilities/_sizing.scss
  src/styles/utilities/_visual.scss
Due: prettier, stylelint

Formats gitignore
  .gitignore
Due: none

Fix CI build order and disable release workflows
  .claude/rules/project.md
  .github/workflows/a11y-matrix.yml.disabled
  .github/workflows/release.yml.disabled
  .gitignore
  .markdownlint-cli2.jsonc
  .prettierignore
  packages/tokens/package.json
  pnpm-lock.yaml
Due: prettier

Move type-check after build in CI
  .github/workflows/ci.yml
Due: none

Optimize E2E test CI with browser sharding
  .github/workflows/ci.yml
  playwright.config.ts
Due: prettier, eslint, tsc

Implement docs sandbox components and styling
  apps/docs/components/A11yToolbar.ts
  apps/docs/components/Sandbox.ts
  apps/docs/components/Search.ts
  apps/docs/docs.scss
Due: prettier, eslint, stylelint, tsc

Fix E2E test execution in CI workflow
  .github/workflows/ci.yml
Due: none

Add snapshot caching to E2E workflow
  .github/workflows/ci.yml
Due: none

Overhaul tiers, gallery, and playground UX
  .claude/rules/project.md
  apps/docs/components/A11yToolbar.ts
  apps/docs/components/PlaygroundControls.ts
  apps/docs/components/ResponsiveFrame.ts
  apps/docs/components/Sandbox.ts
  apps/docs/components/Sidebar.ts
  apps/docs/docs.scss
  apps/docs/index.html
  apps/docs/lib/component-registry.ts
  apps/docs/lib/playground-entries.ts
  apps/docs/lib/sandbox-state.ts
  apps/docs/main.ts
  apps/docs/pages/api/init.ts
  apps/docs/pages/api/overrides.ts
  apps/docs/pages/api/recipes.ts
  apps/docs/pages/api/state.ts
  apps/docs/pages/explore/index.ts
  apps/docs/pages/learn/composition.ts
  apps/docs/pages/learn/finishes.ts
  apps/docs/pages/learn/introduction.ts
  apps/docs/pages/learn/ornaments.ts
  apps/docs/pages/learn/reliefs.ts
  packages/soltana-ui/src/config/recipes.ts
  packages/soltana-ui/src/config/types.ts
  packages/soltana-ui/src/init.ts
  packages/soltana-ui/src/plugins/postcss-soltana-treeshake.test.ts
  packages/soltana-ui/src/styles/finishes/_index.scss
  packages/soltana-ui/src/styles/reliefs/_index.scss
  tests/config/config-api.spec.ts
  tests/config/config-recipes.spec.ts
  tests/cross-tier/cross-tier.spec.ts
  tests/element-overrides.spec.ts
Due: prettier, eslint, stylelint, tsc

Remediate audit findings across all scopes
  .github/workflows/release.yml
  apps/docs/pages/api/enhancers.ts
  apps/docs/pages/api/init.ts
  apps/docs/pages/api/registration.ts
  apps/docs/pages/api/state.ts
  apps/docs/pages/api/svg-patterns.ts
  apps/docs/pages/learn/composition.ts
  eslint.config.js
  packages/echarts/src/index.test.ts
  packages/echarts/vite.config.ts
  packages/plotly/src/index.test.ts
  packages/plotly/vite.config.ts
  packages/react/src/index.test.tsx
  packages/react/src/use-soltana.ts
  packages/soltana-ui/src/config/register.ts
  packages/soltana-ui/src/config/types.ts
  packages/soltana-ui/src/index.ts
  packages/soltana-ui/src/init.ts
  packages/soltana-ui/src/styles/base/_register.scss
  packages/soltana-ui/src/styles/base/_transitions.scss
  packages/soltana-ui/src/styles/components/_cards.scss
  packages/soltana-ui/src/styles/components/_indicators.scss
  packages/soltana-ui/src/styles/components/_lists.scss
  packages/soltana-ui/src/styles/components/_navigation.scss
  packages/soltana-ui/src/styles/decorative/_classical.scss
  packages/soltana-ui/tsconfig.plugins.json
  packages/tokens/src/formats/dtcg.ts
  tests/config/config-api.spec.ts
  tests/config/config-cascade.spec.ts
  tests/config/config-overrides.spec.ts
  tests/config/config-recipes.spec.ts
  tests/config/config-stylesheet.spec.ts
  tests/cross-tier/cross-tier.spec.ts
  tests/fixtures/combinations.ts
Due: prettier, eslint, stylelint, tsc

Sync SCSS/TS tokens and fix formatting
  .claude/rules/project.md
  packages/soltana-ui/src/config/register.ts
Due: prettier, eslint, tsc

Fix tier cascade and remove snapshot caching
  .github/workflows/ci.yml
  packages/soltana-ui/src/config/register.test.ts
  packages/soltana-ui/src/config/register.ts
  packages/soltana-ui/src/styles/themes/_light.scss
  packages/soltana-ui/src/styles/themes/_sepia.scss
Due: prettier, eslint, stylelint, tsc

Resolve remaining audit findings
  .claude/audit/scopes.md
  apps/docs/pages/api/index.ts
  packages/echarts/src/index.test.ts
  packages/plotly/src/index.test.ts
  packages/react/src/integration.test.tsx
  packages/soltana-ui/src/styles/utilities/_index.scss
  tests/config/config-api.spec.ts
  tests/enhancers/modal.spec.ts
  tests/enhancers/tooltip.spec.ts
Due: prettier, eslint, stylelint, tsc

Disable release workflow
  .github/workflows/release.yml.disabled
Due: none

Fix Prettier formatting issues
  .claude/rules/project.md
  packages/soltana-ui/src/styles/components/_tables.scss
Due: prettier, stylelint

Add components and reorganize playground
  apps/docs/components/CentralPlayground.ts
  apps/docs/components/ResponsiveFrame.ts
  apps/docs/components/Sandbox.ts
  apps/docs/components/VariantMatrix.ts
  apps/docs/docs.scss
  apps/docs/lib/component-registry.ts
  apps/docs/lib/playground-entries.ts
  apps/docs/pages/explore/index.ts
  packages/soltana-ui/src/styles/components/_badges.scss
  packages/soltana-ui/src/styles/components/_buttons.scss
  packages/soltana-ui/src/styles/components/_callout.scss
  packages/soltana-ui/src/styles/components/_figure.scss
  packages/soltana-ui/src/styles/components/_hero.scss
  packages/soltana-ui/src/styles/components/_index.scss
  packages/soltana-ui/src/styles/components/_indicators.scss
  packages/soltana-ui/src/styles/components/_navigation.scss
  packages/soltana-ui/src/styles/components/_tables.scss
  packages/soltana-ui/src/styles/themes/_dark.scss
Due: prettier, eslint, stylelint, tsc

Refactor docs grids and enable snapshots
  .github/workflows/update-snapshots.yml
  .gitignore
  apps/docs/docs.scss
  apps/docs/pages/explore/index.ts
  apps/docs/pages/learn/composition.ts
  apps/docs/pages/learn/finishes.ts
  apps/docs/pages/learn/introduction.ts
  apps/docs/pages/learn/reliefs.ts
Due: prettier, eslint, stylelint, tsc

Remove recipes, fix playground layout
  .claude/audit/scopes.md
  .claude/rules/project.md
  apps/docs/components/CentralPlayground.ts
  apps/docs/components/SolPreview.ts
  apps/docs/docs.scss
  apps/docs/pages/api/config.ts
  apps/docs/pages/api/core.ts
  apps/docs/pages/explore/examples.ts
  apps/docs/pages/learn/introduction.ts
  apps/docs/pages/learn/themes.ts
  packages/react/src/index.test.tsx
  packages/soltana-ui/src/config/index.ts
  packages/soltana-ui/src/config/recipes.test.ts
  packages/soltana-ui/src/config/recipes.ts
  packages/soltana-ui/src/config/types.ts
  packages/soltana-ui/src/index.ts
  packages/soltana-ui/src/init.ts
  tests/accessibility.spec.ts
  tests/config/config-api.spec.ts
  tests/config/config-cascade.spec.ts
  tests/config/config-recipes.spec.ts
  tests/cross-tier/cross-tier.spec.ts
  tests/fixtures/combinations.ts
Due: prettier, eslint, stylelint, tsc

Fix CI artifact scope, sepia warning contrast
  .github/workflows/ci.yml
  packages/soltana-ui/src/styles/themes/_sepia.scss
Due: prettier, stylelint

Fix CI artifact download path for multi-dir upload
  .github/workflows/ci.yml
Due: none

Ignore generated YAML in Prettier, update baseline
  .prettierignore
  python/soltana-matplotlib/tests/baseline/test_pie_sepia.png
Due: none

Fix element-overrides finish token per override type
  tests/element-overrides.spec.ts
Due: prettier, eslint, tsc

Grant write permission to snapshot workflow
  .github/workflows/update-snapshots.yml
Due: none

Add enhancer/integration docs, fix dropdown focus
  .claude/agents/reference.yaml
  apps/docs/public/llms-full.txt
  apps/docs/public/llms.txt
  packages/soltana-ui/src/enhancers/dropdown.ts
  packages/tokens/src/build.ts
  packages/tokens/src/extract-components.test.ts
  packages/tokens/src/extract-components.ts
  packages/tokens/src/extract-enhancers.test.ts
  packages/tokens/src/extract-enhancers.ts
  packages/tokens/src/extract-integrations.test.ts
  packages/tokens/src/extract-integrations.ts
  packages/tokens/src/formats/agent-docs.test.ts
  packages/tokens/src/formats/agent-docs.ts
  packages/tokens/src/formats/llms-full-txt.test.ts
  packages/tokens/src/formats/llms-full-txt.ts
  packages/tokens/src/formats/llms-txt.test.ts
  packages/tokens/src/formats/llms-txt.ts
  packages/tokens/src/types.ts
Due: prettier, eslint, tsc

Fix project.md table formatting for Prettier
  .claude/rules/project.md
Due: none

Fix snapshot glob to include top-level dirs
  .github/workflows/update-snapshots.yml
Due: none

Enable globstar for snapshot git-add glob
  .github/workflows/update-snapshots.yml
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.scss$, \.css$, \.json$, \.(html|htm|xhtml)$
  eslint: any of: \.[jt]sx?$
  stylelint: any of: \.(scss|css)$
  tsc: any of: \.(ts|tsx)$
