Repository soltana-tech/soltana-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint, tsc, mplstyle-sync

.pre-commit-config.yaml:

repos:
  # Baseline checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: detect-private-key
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-added-large-files
        args: ['--maxkb=102400']
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending

  # Formatting
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: pnpm exec prettier --write
        language: system
        types_or: [javascript, jsx, ts, tsx, scss, css, json, html]

  # Markdown
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.21.0
    hooks:
      - id: markdownlint-cli2

  # Python
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
        args: [--check]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        args: [--config-file=python/soltana-matplotlib/pyproject.toml]
        files: ^python/soltana-matplotlib/soltana_matplotlib/
        additional_dependencies: [matplotlib>=3.7]
  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.14
    hooks:
      - id: vulture
        args: [python/soltana-matplotlib/soltana_matplotlib, python/soltana-matplotlib/tests]
        files: ^python/
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        args: [-c, python/soltana-matplotlib/pyproject.toml]
        files: ^python/.*\.py$
        exclude: /tests/

  # JavaScript / TypeScript / SCSS
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: pnpm exec eslint
        language: system
        files: \.[jt]sx?$
        types: [file]
      - id: stylelint
        name: Stylelint
        entry: pnpm exec stylelint
        language: system
        files: \.(scss|css)$
      - id: tsc
        name: TypeScript
        entry: pnpm run type-check
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Cross-package sync
  - repo: local
    hooks:
      - id: mplstyle-sync
        name: mplstyle sync check
        entry: diff -q packages/tokens/dist/matplotlib/ python/soltana-matplotlib/soltana_matplotlib/ --exclude='__*' --exclude='py.typed'
        language: system
        files: \.(mplstyle|ts)$
        pass_filenames: false

Add workflow_dispatch trigger to CI
  .github/workflows/ci.yml
Due: none

Consolidate color utils into chart-shared
  .claude/agents/dependency-impact.md
  .claude/agents/reference.yaml
  .claude/agents/tier-composition-check.md
  .claude/agents/visual-regression-check.md
  .claude/settings.json
  .claude/skills/changeset/SKILL.md
  .claude/skills/new-component/SKILL.md
  .claude/skills/new-token-format/SKILL.md
  .gitignore
  .mcp.json
  packages/chart-shared/package.json
  packages/chart-shared/src/index.test.ts
  packages/chart-shared/src/index.ts
  packages/echarts/src/build-theme.ts
  packages/mermaid/src/build-config.ts
  packages/tokens/package.json
  packages/tokens/src/build.ts
  packages/tokens/src/formats/echarts.ts
  packages/tokens/src/formats/mermaid.ts
  pnpm-lock.yaml
Due: prettier, eslint, tsc, mplstyle-sync

Remove type-check and test PostToolUse hooks
  .claude/settings.json
Due: prettier

Add .ralph-work to .gitignore
  .gitignore
Due: none

Restore enhancerOptions forwarding
  .claude/agents/reference.yaml
  packages/soltana-ui/src/config/types.ts
  packages/soltana-ui/src/init.ts
Due: prettier, eslint, tsc, mplstyle-sync

Fix CI generated-file check, disable release
  .github/workflows/ci.yml
  .github/workflows/release.yml.disabled
Due: none

Fix E2E test failures from audit
  tests/config/config-api.spec.ts
  tests/config/config-cascade.spec.ts
Due: prettier, eslint, tsc, mplstyle-sync

Remove .claude/agents, move reference.yaml
  .claude/agents/README.md
  .claude/agents/dependency-impact.md
  .claude/agents/tier-composition-check.md
  .claude/agents/visual-regression-check.md
  .claude/reference.yaml
  .claude/rules/project.md
Due: none

Fix stale comments, remove dead Python plumbing
  .claude/reference.yaml
  packages/soltana-ui/src/config/register.ts
  packages/soltana-ui/src/fonts/index.ts
  packages/soltana-ui/src/styles/themes/_dark.scss
  packages/tokens/src/build.ts
  packages/tokens/src/extract-integrations.test.ts
  packages/tokens/src/extract-integrations.ts
  packages/tokens/src/formats/agent-docs.test.ts
  packages/tokens/src/formats/llms-full-txt.test.ts
  packages/tokens/src/formats/llms-txt.test.ts
  packages/tokens/src/resolve.ts
  packages/tokens/src/types.ts
Due: prettier, eslint, stylelint, tsc, mplstyle-sync

Apply DRY refactoring and clean dead code
  .claude/audit/scopes.md
  .claude/reference.yaml
  .claude/rules/project.md
  .github/workflows/release.yml.disabled
  apps/docs/pages/api/core.ts
  apps/docs/pages/explore/layout.ts
  apps/docs/public/llms-full.txt
  packages/mermaid/package.json
  packages/react/package.json
  packages/soltana-ui/src/config/index.test.ts
  packages/soltana-ui/src/config/register.test.ts
  packages/soltana-ui/src/config/types.ts
  packages/soltana-ui/src/enhancers/drawer.ts
  packages/soltana-ui/src/enhancers/modal.ts
  packages/soltana-ui/src/enhancers/utils/create-overlay-enhancer.ts
  packages/soltana-ui/src/init.ts
  packages/soltana-ui/src/plugins/postcss-soltana-treeshake.ts
  packages/soltana-ui/src/styles/base/_relief-system.scss
  packages/soltana-ui/src/styles/reliefs/_neumorphic-tables.scss
  packages/soltana-ui/vite.config.ts
  packages/tokens/src/extract.test.ts
  packages/tokens/src/formats/dtcg.test.ts
  packages/tokens/src/formats/llms-txt.test.ts
  tests/config/config-cascade.spec.ts
Due: prettier, eslint, stylelint, tsc, mplstyle-sync

Fix enhancer extraction for factory pattern
  .claude/reference.yaml
  apps/docs/public/llms-full.txt
  packages/tokens/src/extract-enhancers.ts
Due: prettier, eslint, tsc, mplstyle-sync

Fix test fixture import for CI/CD
  tests/fixtures/combinations.ts
Due: prettier, eslint, tsc, mplstyle-sync

Restore console warnings/errors in non-strict mode
  .claude/reference.yaml
  packages/soltana-ui/src/init.ts
Due: prettier, eslint, tsc, mplstyle-sync

Add GitHub Pages deployment and package READMEs
  .github/workflows/deploy-docs.yml
  .markdownlint-cli2.jsonc
  README.md
  packages/mermaid/README.md
  packages/react/README.md
  packages/soltana-ui/README.md
  packages/tokens/README.md
  packages/tokens/package.json
Due: prettier

Test: restore line length rule
  .markdownlint-cli2.jsonc
Due: none

Fix remaining markdown line length violations
  .claude/rules/linting.md
  README.md
  packages/mermaid/README.md
  packages/react/README.md
  packages/soltana-ui/README.md
  packages/tokens/README.md
Due: none

Bump version to 0.1.0 for initial release
  .github/workflows/publish.yml
  packages/mermaid/package.json
  packages/react/package.json
  packages/soltana-ui/package.json
  packages/tokens/package.json
Due: prettier

Fix peer dependency versions for npm publish
  packages/mermaid/package.json
  packages/react/package.json
Due: prettier

Revert peer dependencies to workspace protocol for dev
  packages/mermaid/package.json
  packages/react/package.json
Due: prettier

Add workspace protocol conversion note to publish workflow
  .github/workflows/publish.yml
Due: none

Switch publish workflow to OIDC trusted publishing
  .github/workflows/publish.yml
Due: none

feat(tables): add table-panel, table-scroll, row-bg, row-overlay
  packages/soltana-ui/src/styles/components/_tables.scss
Due: prettier, stylelint

feat(components): add action-list and extended/controlled FAB variants
  packages/soltana-ui/src/styles/components/_action-list.scss
  packages/soltana-ui/src/styles/components/_buttons.scss
  packages/soltana-ui/src/styles/components/_index.scss
Due: prettier, stylelint

chore: update fixtures and generated references for new components
  .claude/reference.yaml
  apps/docs/public/llms-full.txt
  tests/fixtures/render.ts
Due: prettier, eslint, tsc, mplstyle-sync

feat(styles): fluid type scale and component typography
  packages/soltana-ui/src/styles/_variables.scss
  packages/soltana-ui/src/styles/base/_typography.scss
  packages/soltana-ui/src/styles/components/_action-list.scss
  packages/soltana-ui/src/styles/components/_tables.scss
  packages/soltana-ui/src/styles/utilities/_visual.scss
Due: prettier, stylelint

chore: regenerate agent reference and llms-full for fluid type tokens
  .claude/reference.yaml
  apps/docs/public/llms-full.txt
Due: none
